.textVis {
    -fx-font: 40px Arial;
    -fx-font-weight: bold;
    -fx-fill: red;
}

.textLinkTM {
    -fx-font: 40px Arial;
    -fx-font-weight: normal;
    -fx-fill: black;
}

.lien {
    -fx-font-weight: bold;
}

.lienA {
    -fx-text-fill: #428bca;
}

.lienB {
    -fx-text-fill: #d9534f;
}

.lienC {
    -fx-text-fill: #f0ad4e;
}

.lienD {
    -fx-text-fill: #5cb85c;
}